<div class="container">
  <table class="table table-hover table-striped">

    <thead>
    <tr>
      <th>Id</th>
      <th>First Name</th>
      <th>Title</th>
      <th>City</th>
      <th>Street</th>
      <th>House</th>
    </tr>
    </thead>
    <tbody *ngFor = "let event of events">
    <tr>
      <td>{{event.id}}</td>
      <td>{{event.firstName}}</td>
      <td>{{event.title}}</td>
      <td>{{event.city}}</td>
      <td>{{event.street}}</td>
      <td>{{event.house}}</td>
    </tr>

    </tbody>

  </table>
</div>
